.LogForm {
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: .5em;
    border: 1px solid #aaa;

    h1 {
        text-align: center;
    }

    input, button {
        height: 50px;
        padding: 10px;
    }

    button {
        background: var(--main-color);
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        border: none;
        transition: all .5s;

        &:hover {
            background: var(--main-color-2);
            border-radius: 5em;
        }
    }

    .msg {
        color: #fff;
        font-weight: 600;
        padding: 10px;
        width: 100%;
    }

    .error-msg {
        background: #ec5a5a;
    }

    .response-msg {
        background: #5aec61;
    }
}